
@font-face {
    font-family: "iconfont"; /* Project id 2525486 */
    src: url('//at.alicdn.com/t/font_2525486_yjo593qrdt.woff2?t=1620222051898') format('woff2'),
    url('//at.alicdn.com/t/font_2525486_yjo593qrdt.woff?t=1620222051898') format('woff'),
    url('//at.alicdn.com/t/font_2525486_yjo593qrdt.ttf?t=1620222051898') format('truetype');
}

.iconfont {
    font-family: "iconfont", serif !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
.w {
    width: 1200px;
    margin: 0 auto;
}
a {
    text-decoration: none;
    color: #8b758b;
}
li {
    float: left;
    list-style: none;
}
body {
    background-color: #e9ecec;
}
